<section class="description">
  <h1><%= t('.description_title') %></h1>

  <p><%= t('.description_body') %></p>

  <div class="background"></div>
</section>

<section class="last-week-expenses-wrapper">
  <h2><%= t('.last_week_expenses') %></h2>

  <%= link_to new_expense_path, class: 'primary-button' do %>
      <%= fa_icon "plus", text: t('.new_entry') %>
  <% end %>

  <div class="expenses-list-wrapper">
    <% if @expenses.any? %>
      <div class="list-header">
        <div class="header-field title label"><%= t('.name') %></div>
        <div class="header-field description label"><%= t('.description') %></div>
        <div class="header-field amount label"><%= t('.amount') %></div>
        <div class="header-field date label"><%= t('.time') %></div>
      </div>
      <div class="list-body">
        <% @expenses.each do |expense| %>
            <div class="fields-wrapper">
              <div class="field title data"><span class="mobile-title"><%= t('.name') %></span> <span class="text"><%= expense.title %></span></div>
              <div class="field description data"><span class="mobile-title"><%= t('.description') %></span> <span class="text"><%= expense.description %></span></div>
              <div class="field amount data"><span class="mobile-title"><%= t('.amount') %></span> <span class="text"><%= number_to_currency expense.amount, locale: :hr %></span></div>
              <div class="field date data"><span class="mobile-title"><%= t('.time') %></span> <span class="text"><%= l expense.created_at %></span></div>
            </div>
        <% end %>
      </div>
    <% else %>
      <p><%= t('.no_expenses') %></p>
    <% end %>
  </div>
</section>