///////////// Variables //////////////////
$background-color:             #eef6fb;
$header-color:                 #cfe8f2;
$text-color:                   #3a3a3a;
$primary-button-color:         #6e9fdc;
$primary-button-hover-color:   #8bbade;
$primary-button-active-color:  #5c92dc;
$primary-button-border-color:  #e0f2fd;
$secondary-button-color:       #f2605c;
$secondary-button-hover-color: #f2827b;
$table-header-color:           #5c92dc;
$table-border-color:           #eef6fb;
$form-border-color:            #bcd8e9;
$input-border-color:           #bcd8e9;
$errors-text-color:            #f2605c;

/////////////// Breakpoints ///////////////////
$desktop:               'screen and (min-width: 900px)';
$tablet:                'screen and (min-width: 600px) and (max-width: 899px)';
$mobile:                'screen and (max-width: 599px)';
$excluded-desktop:      'screen and (max-width: 899px)';
$excluded-mobile:       'screen and (min-width: 600px)';

/////////////// Mixins ///////////////////
@mixin box-shadow($x, $y, $blur, $size, $color) {
  -webkit-box-shadow: $x $y $blur $size $color;
          box-shadow: $x $y $blur $size $color;
}

@mixin transition($property: all, $duration: .2s, $type: linear) {
  -webkit-transition: $property $duration $type;
          transition: $property $duration $type;
}

@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}