@import "mixins_and_variables";

.default-button {
  display: inline-block;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;

  border-radius: 15px;
  border: 1px solid $primary-button-border-color;

  font-weight: bold;
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
  line-height: 30px;

  &:focus {
    outline: none;
  }
}

.primary-button,
.secondary-button {
  @extend .default-button;
  @include transition(background-color, 0.2s, linear);
}

.primary-button {
  background-color: $primary-button-color;

  &:hover {
    background-color: $primary-button-hover-color;
  }

  &.active {
    background-color: $primary-button-active-color;
  }
}

.secondary-button {
  background-color: $secondary-button-color;

  &:hover {
    background-color: $secondary-button-hover-color;
  }
}

.action-button {
  @extend .primary-button;
  border-radius: 5px;
}

button.action-button,
input.primary-button,
button.primary-button {
  height: 32px;
  cursor: pointer;
}

.return-button {
  margin-top: 10px;
}