@import "mixins_and_variables";

.select2-container--default {
  .select2-selection--single {
    height: 30px;
    border-radius: 25px;
    border-color: $input-border-color;
    outline: none;

    .select2-selection__rendered {
      font-size: 1.4rem;
      color: $text-color;
    }
  }

  .select2-selection.select2-selection--single {
    @include transition(border-color, 0.2s, linear);
  }

  &.select2-container--open.select2-container--below .select2-selection--single,
  &.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  &.select-8-container--focus:focus {
    outline: none;
  }
}

.select2-container {
  .select2-selection--single .select2-selection__rendered {
    padding-left: 10px;
  }
}

.select2-results__option {
  font-size: 1.4rem;
  color: $text-color;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: $input-border-color;
  color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {

}

.select2-dropdown,
.select2-container--open .select2-dropdown--below {
  border: 1px solid $input-border-color;
  border-radius: 2px;
}

.select2.select2-container.select2-container--default {
  width: 100% !important;
}