@import "mixins_and_variables";

.form-wrapper {
  max-width: 450px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  box-sizing: border-box;

  border-radius: 20px;
  border: 2px solid $form-border-color;

  h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .field {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .label {
    flex: 1;
    font-weight: bold;
  }

  .input-wrapper {
    flex: 2;
  }

  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 15px;
    box-sizing: border-box;
    border: 1px solid $input-border-color;
    background-color: #fff;

    font-size: 1.4rem;

    &:focus {
      outline: none;
    }
  }

  input[type="text"],
  input[type="number"] {
    height: 30px;
  }
  
  textarea {
    height: 100px;
    padding: 10px;
    resize: none;
  }

  .custom-dropdown select {
    width: 100%;
  }
}

.errors-wrapper {
  color: $errors-text-color;

  .title {
    margin-bottom: 0;
  }

  ul {
    margin-top: 10px;
    padding-left: 20px;
  }

  li {
    font-size: 1.4rem;
  }
}