// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins_and_variables";

.home .content {
  display: flex;

  .description,
  .last-week-expenses-wrapper {
    flex: 1;
  }

  .background {
    max-width: 600px;
    width: 100%;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 56%;
    background: transparent image-url("homepage.jpg") no-repeat scroll center center;
    background-size: 100%;
  }
}

.description h1,
.last-week-expenses-wrapper h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

/////////////////////
/////////////////////
//// RESPONSIVE
/////////////////////
/////////////////////
@media #{$desktop} {
  .home .content {
    .description {
      padding-right: 20px;
    }

    .last-week-expenses-wrapper {
      padding-left: 20px;
    }
  }
}

@media #{$excluded-desktop} {
  .home .content {
    flex-direction: column;

    .background {
      padding-bottom: 43%;
    }
  }

  .last-week-expenses-wrapper {
    margin-top: 30px;
  }
}

