@import "mixins_and_variables";

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;

  background-color: $background-color;

  font-family: roboto, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  color: $text-color;

  /* css for font-smoothing on Apple desktop devices */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-bottom: 10px;
}

header {
  display: flex;
  align-items: center;
  padding: 10px;

  background-color: $header-color;
  border-bottom: 2px solid #fff;
}

.logo {
  display: block;
  width: 70px;
  height: 70px;

  background: transparent image-url("logo.png") no-repeat scroll center center;
  background-size: cover;

  text-indent: -9999px;
}

nav {
  flex: 1;
  text-align: right;
}

.navigation-link {
  margin-left: 3px;
  margin-right: 3px;
}

.content {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-sizing: border-box;
}

/////////////////////
/////////////////////
//// RESPONSIVE
/////////////////////
/////////////////////
@media #{$mobile} {
  body {
    font-size: 1.4rem;
  }
}