@import "mixins_and_variables";

.expenses-list-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .list-header,
  .list-body {
    display: flex;
    align-items: center;

    font-size: 1.4rem;
  }

  .list-header {
    height: 40px;

    background-color: $table-header-color;

    color: #fff;
    font-weight: bold;
  }

  .list-body {
    flex-direction: column;
  }

  .header-field,
  .field {
    padding-left: 5px;
    padding-right: 5px;
  }

  .header-field,
  .fields-wrapper {
    flex: 1;
  }

  .fields-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: #fff;
    border-bottom: 2px solid $table-border-color;
  }

  .actions {
    text-align: right;

    &.label,
    &.data {
      flex: 3;
    }
  }

  .title,
  .description {
    &.label,
    &.data {
      flex: 3;
    }
  }

  .amount,
  .date,
  .category {
    &.label,
    &.data {
      flex: 2;
    }
  }
}

/////////////////////
/////////////////////
//// RESPONSIVE
/////////////////////
/////////////////////
@media #{$excluded-mobile} {
  .mobile-title {
    display: none;
  }
}

@media #{$mobile} {
  .expenses-list-wrapper {
    .list-header {
      height: 30px;
    }

    .header-field {
      display: none;
    }

    .fields-wrapper {
      flex-direction: column;
      align-items: flex-start;
    }

    .field {
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }
}