<%= form_with(model: expense, local: true) do |form| %>
  <% if expense.errors.any? %>
    <div id="error_explanation" class="errors-wrapper">
      <h4 class="title"><%= t('.errors_title') %></h4>

      <ul>
      <% expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="label"><%= form.label :title, t('.title') %></span>
    <span class="input-wrapper"><%= form.text_field :title %></span>
  </div>

  <div class="field">
    <span class="label"><%= form.label :amount, t('.amount') %></span>
    <span class="input-wrapper"><%= form.number_field :amount, step: "any" %></span>
  </div>

  <div class="field">
    <span class="label"><%= form.label :category_id, t('.category') %></span>
    <span class="input-wrapper custom-dropdown"><%= collection_select(:expense, :category_id, Category.all, :id, :title, prompt: true) %></span>
  </div>

  <div class="field">
    <span class="label"><%= form.label :description, t('.Description') %></span>
    <span class="input-wrapper"><%= form.text_area :description %></span>
  </div>

  <div class="actions">
    <%#= form.submit do %>
        <%#= fa_icon "pen", text: t('.submit') %>
    <%# end %>
    <%= button_tag type: 'submit', class: 'primary-button' do %>
        <%= fa_icon "check", text: t('.submit') %>
    <% end %>
  </div>
<% end %>
