
<h1><%= t('.title') %></h1>

<%= link_to new_expense_path, class: 'primary-button' do %>
    <%= fa_icon "plus", text: t('.new_entry') %>
<% end %>

<div class="expenses-list-wrapper">
  <div class="list-header">
    <div class="header-field title label"><%= t('.expense_title') %></div>
    <div class="header-field amount label"><%= t('.amount') %></div>
    <div class="header-field category label"><%= t('.category') %></div>
    <div class="header-field description label"><%= t('.description') %></div>
    <div class="header-field date label"><%= t('.date') %></div>
    <div class="header-field actions label"></div>
  </div>

  <div class="list-body">
    <% @expenses.each do |expense| %>
        <div class="fields-wrapper">
          <div class="field title data"><span class="mobile-title"><%= t('.expense_title') %></span> <span class="text"><%= expense.title %></span></div>
          <div class="field amount data"><span class="mobile-title"><%= t('.amount') %></span> <span class="text"><%= number_to_currency expense.amount, locale: :hr %></span></div>
          <div class="field category data"><span class="mobile-title"><%= t('.category') %></span> <span class="text"><%= expense.category.title %></span></div>
          <div class="field description data"><span class="mobile-title"><%= t('.description') %></span> <span class="text"><%= expense.description %></span></div>
          <div class="field date data"><span class="mobile-title"><%= t('.date') %></span> <span class="text"><%= l expense.created_at %></span></div>
          <div class="field actions data">
            <%= link_to edit_expense_path(expense), class: 'primary-button' do %>
                <%= fa_icon "edit", text: t('.edit') %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
