<div class="form-wrapper">
  <h2><%= t('.title') %></h2>

  <%= render 'form', expense: @expense %>

  <%= link_to expenses_path, class: 'secondary-button return-button' do %>
      <%= fa_icon "chevron-left", text: t('.back') %>
  <% end %>
</div>
