<header>
  <%= link_to t('.home'), root_path, class: 'logo' %>

  <nav>
    <%= link_to t('.home'), root_path, class: "navigation-link primary-button #{ 'active' if controller_name == 'home'}" %>
    <%= link_to t('.expenses'), expenses_path, class: "navigation-link primary-button #{ 'active' if controller_name == 'expenses' && action_name == 'index' }" %>
    <%#= link_to t('.log_out'), '#', class: 'navigation-link secondary-button' %>
  </nav>
</header>